<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KMA_Practice"
        tools:targetApi="31">
        <service
            android:name=".bai8.PlaySongService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".bai8.SongActivity"
            android:exported="false" />
        <activity
            android:name=".bai7.Bai7Activity"
            android:exported="false" /> <!-- android:name=".bai6.Bai6Activity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".bai5.Bai5Activity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".bai4.Bai4Activity" -->
        <!-- android:exported="false" /> -->
<!--        <activity-->
<!--            android:name=".bai3.Bai3"-->
<!--            android:exported="false" /> &lt;!&ndash; <activity &ndash;&gt;-->
        <!-- android:name=".Bai2" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".bai3.Bai3"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>